* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #dfe6e9;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tarjeta {
	width: 12%;
	height: 260px;
	perspective: 1000px;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}

.contenido-tarjeta {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.tarjeta.flip .contenido-tarjeta {
	transform: rotateY(180deg);
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	border-radius: 10px;
	padding: 5px;
}

.front {
	background-color: #2d3436;
	color: white;
}

.back {
	text-align: center;
	background-color: #00b894;
	color: black;
	transform: rotateY(180deg);
}

#panel {
	width: 70%;
	margin: 0 2rem;
}

#frases {
	height: 60vh;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	overflow-y: auto;
}

.frase {
	padding: 5px 10px;
}

.texto {
	display: inline-block;
	max-width: 80%;
	background-color: lightgreen;
}

.acciones {
	/* display: inline-block; no es necesario*/
	float: right;
	background-color: lightcoral;
}

.acciones span {
	margin-right: 10px;
	cursor: pointer;
	text-decoration: underline;
}

#formulario {
	margin-bottom: 10px;
}

#formulario input[type="text"] {
	width: 75%;
	height: 30px;
}

#formulario input[type="button"] {
	width: 20%;
	height: 30px;
	float: right;
}

#btniniciar {
	width: 100%;
	height: 30px;
	padding: 0 5px;
	/* background-color: #00b894; */
}

.empty {
	width: 50vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	border-radius: 1rem;
	background-color: #2d3436;
	color: white;
}

.empty a {
	margin-top: 1rem;
}

.empty a button {
	padding: 5px;
}